In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
movie=pd.read_csv(r'C:\Users\Admin\Downloads\movie.csv')
movie

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [4]:
movie.head(20)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller

In [3]:
tags=pd.read_csv(r'C:\Users\Admin\Downloads\tag.csv', sep=',')

In [6]:
tags.head(20)

    userId  movieId                tag            timestamp
0       18     4141        Mark Waters  2009-04-24 18:19:40
1       65      208          dark hero  2013-05-10 01:41:18
2       65      353          dark hero  2013-05-10 01:41:19
3       65      521      noir thriller  2013-05-10 01:39:43
4       65      592          dark hero  2013-05-10 01:41:18
5       65      668          bollywood  2013-05-10 01:37:56
6       65      898   screwball comedy  2013-05-10 01:42:40
7       65     1248      noir thriller  2013-05-10 01:39:43
8       65     1391               mars  2013-05-10 01:40:55
9       65     1617           neo-noir  2013-05-10 01:43:37
10      65     1694              jesus  2013-05-10 01:38:45
11      65     1783      noir thriller  2013-05-10 01:39:43
12      65     2022              jesus  2013-05-10 01:38:45
13      65     2193             dragon  2013-05-10 02:01:54
14      65     2353  conspiracy theory  2013-05-10 02:01:06
15      65     2662               mars  2013-05-10 01:40:55
16      65     2726      noir thriller  2013-05-10 01:39:43
17      65     2840              jesus  2013-05-10 01:38:45
18      65     3052              jesus  2013-05-10 01:38:46
19      65     5135          bollywood  2013-05-10 01:37:56

In [10]:
ratings=pd.read_csv(r"C:\Users\Admin\Downloads\rating.csv")
ratings.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [11]:
row_0=tags.iloc[0]
type(row_0)

pandas.core.series.Series

In [12]:
print(row_0)

userId                        18
movieId                     4141
tag                  Mark Waters
timestamp    2009-04-24 18:19:40
Name: 0, dtype: object

In [13]:
row_0.index

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [14]:
row_0['userId']

18

In [12]:
'rating' in row_0

False

In [15]:
row_0.name

0

In [16]:
row_0 = row_0.rename('firstRow')
row_0.name

'firstRow'

#Data frames

In [17]:
tags.head()

   userId  movieId            tag            timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

In [18]:
tags.index

RangeIndex(start=0, stop=465564, step=1)

In [19]:
tags.columns

Index(['userId', 'movieId', 'tag', 'timestamp'], dtype='object')

In [20]:
tags.iloc[ [0,11,500] ]

     userId  movieId                tag            timestamp
0        18     4141        Mark Waters  2009-04-24 18:19:40
11       65     1783      noir thriller  2013-05-10 01:39:43
500     342    55908  entirely dialogue  2012-01-31 18:41:16

#### descrptive statistics

In [21]:
ratings['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [22]:
ratings.describe()

             userId       movieId        rating
count  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904587e+04  9.041567e+03  3.525529e+00
std    4.003863e+04  1.978948e+04  1.051989e+00
min    1.000000e+00  1.000000e+00  5.000000e-01
25%    3.439500e+04  9.020000e+02  3.000000e+00
50%    6.914100e+04  2.167000e+03  3.500000e+00
75%    1.036370e+05  4.770000e+03  4.000000e+00
max    1.384930e+05  1.312620e+05  5.000000e+00

In [23]:
ratings['rating'].mean()

3.5255285642993797

In [ ]:
ratings.mean()

In [ ]:
ratings['rating'].min()

In [ ]:
ratings['rating'].max()

In [ ]:
ratings['rating'].std()

In [ ]:
ratings['rating'].mode()

In [ ]:
ratings.corr()

In [ ]:
filter1 = ratings['rating'] > 10
print(filter1)
filter1.any()

In [ ]:
filter2 = ratings['rating'] > 0
filter2.all()

## Data Cleaning: Handling Missing Data

In [ ]:
movie.shape

In [ ]:
movie.isnull().any().any()

In [ ]:
ratings.shape

In [ ]:
ratings.isnull().any().any()

In [ ]:
tags.shape

In [ ]:
tags.isnull().any().any()

In [ ]:
tags.shape

In [ ]:
tags=tags.dropna()

In [ ]:
tags.isnull().any().any()

In [ ]:
tags.shape

##Data Visualization

In [ ]:
%matplotlib inline
ratings.hist(column='rating', figsize=(10,5))

In [ ]:
ratings.boxplot(column='rating', figsize=(10,5))

###Slicing Out Columns

In [ ]:
tags['tag'].head()

In [ ]:
movie[['title','genres']].head()

In [ ]:
ratings[-10:]

In [ ]:
tag_counts = tags['tag'].value_counts()
tag_counts[-10:]

In [ ]:
tag_counts[:10].plot(kind='bar', figsize=(10,5))